  /*stylesheet*/

  /*here is my rude comment*/

  /*

  tiers of cascading styles

  Important -

  1 transition
  2 !important
  3 animation
  4 normal

  Origin
  website
  user
  browser

  Specificity
  inline > id > class > type

  position
  top to bottom

  */

:root {
  --background-color: #424244;
  --body-color: #f5f4f2;
}

body {
  background-color: #424244;
  color: #f5f4f2;
  font-family: 'M PLUS 1p', sans-serif;
}

/* GENERAL CSS */

#wrapper
  {
    margin: 2rem auto;
    max-width: 1440px;
    padding: 0 2rem;
  }

h1, h2, h3, h4 {
  margin:  0;
  font-family: 'M PLUS 1p', sans-serif;

}

h1 {
  font-weight: 300;
  color: #f5f4f2;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

p{
  font-size: 1.5rem;
}

.grid div{
 /* background-color: rgba(0,0,0,0.1); */
}

/* MASTHEAD */

#masthead, #main {
  margin-bottom: 2rem;
}


#logo a {
  /*background-color: paleturquoise;*/
  color: #f5f4f2;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

#logo svg {
  height: 3.6rem;
}

/*NAV*/


ul:hover a{
  color: rgba(0, 0, 0, 0.1);
}

a{
  color: var(--body-color);
}

#nav a { 
  font-weight: 600; 
  font-size: 1.3rem; 
  text-decoration-color: transparent; 
  display: inline-block; 
  width: 100%; 
  text-align: center; 
  transition: font-size .2s ease-in-out, color .15s ease-in-out;
} 

#nav a:hover, #nav a.active  { 
  font-size: 1.4rem;
  color: #f5f4f2;
}

#nav.active {
  display: block;
}

#nav ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
}

#nav li {
  flex: 3; 
}

#nav-button {
  /*background-color: red;*/
  display: none;
} 

#nav-button-holder {
  /*background-color: yellow;*/
  justify-content: flex-end;
  display: flex; 
  width: 100%;
  height: 100%;
  align-items: center;
}

.hamburger {
  height: 24px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: var(--body-color); }

.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color: var(--body-color);
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* HOME */
  
#intro {
    display: flex;
    align-items: center;
    height: 70vh;
}

#work h3 {
  margin-bottom: 3em;
}

.work-item{
  overflow: hidden;
  height: 0;
  position: relative;
  width: 100%;
  padding-top:  calc((9/16)*100%);
  background-color: #000;
}

.work-item .inner {
  text-decoration: none;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-item .inner .work-inside {
  transition: opacity .2s ease-in-out;
  opacity: 0;
  color: #fff;
  text-shadow: 0px 2px #000000;
  padding: 2rem;
  width: 100%;
  background:linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
;
  text-align: left;
}

.work-item .inner:hover .work-inside {
  opacity: 1;
}

.work-item img {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-item div:hover {
  background-color: black;
}

.writing-item .date-holder {
  margin-bottom: .25em;
}

.writing-item img {
  display: block;
  width: 100%;
  height: auto;
}

.writing-item .caption {
  font-size: .75rem;
  color: #666666;
  display: block;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 2rem;
  text-align: right;
}

.writing-item .date {
  margin: 0;
  font-size: .85rem;
  padding: 0 4px;
  color: var(--background-color);
  display: inline-block;
  background-color: var(--body-color);
}

.writing-item h2 a {
  color: var(--body-color);
  text-decoration-color: transparent; 
  transition: text-decoration-color .3s ease-in-out;
}

.writing-item h2 a:hover {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
}

.writing-item p a {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
}

h3 a{
  text-decoration: none;
  color: var(--body-color);

}

/* PORTFOLIO + WRITING */

#portfolio, #writings {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#portfolio .work-item {
  padding-top: calc((9 / 16) * 100%);
}

#portfolio .work-item .inner .work-inside {
  opacity: 1;
}

#portfolio p a {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
  transition: text-decoration-color .3s ease-in-out;
}

#portfolio p a:hover {
  text-decoration-color: transparent; 
}

/* FOOTER */

#footer {
  text-align: right;
  font-size: 0.25rem;
}

/* RESPONSIVE */

/* FOR VARIABLE TYPE SIZING */
 @media screen and (min-width: 320px) {
   body {
     font-size:calc(12px + 38 * ((100vw - 320px) / 960));
   }
 }

@media all and (max-width: 699px) { 
  #nav-button {
    display: block;
  }
  #nav {
    border-bottom: 1px solid var(--body-color);
    padding-bottom: 1rem;
    display: none;
  }
  #nav li { 
    width: 100%; 
    flex-basis: 100%;
    margin-bottom: 1rem;
  } 
  #intro-holder h1 {
    font-size: 3.2rem
  }

  .work-item .inner .work-inside {
    opacity: 1;
    padding-top:  calc((1/1)*100%);
  }

}

@media all and (min-width: 700px) {

  #intro {
    height: 70vh;
  }

  #intro-holder {
    padding: 0 5em;
  }

}

@media all and (min-width: 1220px) {

  body {
    font-size: 50px;
  }

}

/* CONTACT */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: vertical
}


input[type=submit] {
  background-color: #f5f4f2;
  color: #424244;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

input[type=submit]:hover {
  background-color: #424244;
    color: #f5f4f2;
}

.container {
  border-radius: 5px;
  background-color: #424244;
  padding: 20px;
}